<html>
<head>
	<link href="/static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/bootstrap/js/bootstrap-typeahead.js"></script>
	<script src="/static/js/angular.min.js"></script>
	<link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
<h2>Sample Dataset At localhost:8091</h2>
<h4>{{ name }}</h4>
<script>
	var dimen = {{ dimen }}
	,interval = {{ interval }}
	,mathfunc = {{ mathfunc }}
	,start = {{ start }}

	function getNumberInNormalDistribution(mean,std_dev){
		return mean+(randomNormalDistribution()*std_dev);
	}

	function randomNormalDistribution(){
		var u=0.0, v=0.0, w=0.0, c=0.0;
		do{
			//获得两个（-1,1）的独立随机变量
			u=Math.random()*2-1.0;
			v=Math.random()*2-1.0;
			w=u*u+v*v;
		}while(w==0.0||w>=1.0)
		//这里就是 Box-Muller转换
		c=Math.sqrt((-2*Math.log(w))/w);
		//返回2个标准正态分布的随机数，封装进一个数组返回
		//当然，因为这个函数运行较快，也可以扔掉一个
		//return [u*c,v*c];
		return u*c;
	}

	$(document).ready(function(){
		setInterval(function(){$('#datatable > tbody:last').append('<tr><td>' + start + '</td><td>' + mathfunc(start) + '</td></tr>'); start++;}, interval)
	})
</script>
<table id="datatable" class="table table-strip table-hover table-bordered">
<thead>
<tr>
	{% for col in head %}
		<td> 
			{{col}}
		</td>
	{% endfor %}
</tr>
</thead>
<tbody>

</tbody>
</table>
</body>
</html>