input.ng-invalid.ng-dirty{
	background-color: yellow;
}
a,a:link,a:visited{
	text-decoration: none;
	color: #4da2ef;
	-webkit-transition: color linear 0.2s;
	-moz-transition: color linear 0.2s;
	transition: color linear 0.2s;
}
a:hover,a:focus {
	text-decoration: none;
	color: #E54646;
}
.date {
	margin: 0 0.1em;
	padding: 0.3em 1em;
	color:#eeeeee;
	background: #999999;
	font-size: 12px;
}
a.author,a.author:link,a.author:visited{
	text-decoration: none;
	background: #5DB2FF;
	color: #eeeeee;
	font-weight:bold;
	margin: 0 0.1em;
	padding: 0.3em 1em;
	font-size: 12px;
	-webkit-transition: color linear 0.2s;
	-moz-transition: color linear 0.2s;
	transition: color linear 0.2s;
}
a.author:hover,a.author:focus {
	background: #5DB2FF;
	text-decoration: none;
	color: #E54646;
	margin: 0 0.1em;
	padding: 0.3em 1em;
}
.footer{ 
	position: fixed;
	height:20px; 
	bottom:3px; 
	width:100%; 
	clear:both;
	right: 0;
	left: 0;
	z-index: 1030;
	-webkit-transform: translate3d(0, 0, 0);
	   -o-transform: translate3d(0, 0, 0);
		  transform: translate3d(0, 0, 0);
}
.npnm{
	padding:0 0 0 0;
	margin:0 0 0 0
}
