{% include 'header.html' %}

<div class="container-fluid" ng-controller="assessModelController" >
	<div class="col-md-6">
		<p class="lead"> Model List</p>
		<div>
			{% include 'md_list.html' %}
		</div>
		<p class="lead"> Dataset List </p>
		<div>
			<ul class="nav nav-tabs">
				<li ng-class="{true:'active',false:''}[datatype=='file']">
					<a href="javascript:void(0)" data-toggle="tab" ng-click="setdatatype('file')">LOCAL</a></li>
				<li ng-class="{true:'active',false:''}[datatype=='online']">
					<a href="javascript:void(0)" data-toggle="tab" ng-click="setdatatype('online')">ONLINE</a></li>
			</ul>
		
			<div ng-show="uploadFormShow()">
				<p class="lead"> Dataset List</p>
				{% include 'ds_list.html' %}
			</div>
			<div ng-show="onlineShow()">
				<p class="lead"> Online Dataset List</p>
				{% include 'olds_list.html' %}
			</div>
		</div>
		<div class="container-fluid npnm">
			<div class="col-md-4 npnm">
			<p><input name="assessmethod" type="text" class="form-control" placeholder="sfold" ng-model="assessForm.assessmethod" autocomplete=off id="chooseassessmethod"></input></p></div>
			<div class="col-md-4 npnm">
<!-- 			<input name="classfeatureindex" type="text" class="form-control" placeholder="-1" ng-model="assessForm.classfeatureindex" autocomplete=off></input> -->
			</div>
			<div class="col-md-4 npnm">
			<input type="submit" class="btn btn-success btn-block" value="Run" ng-click="runassess()"></input></div>
		</div>
	</div>
	<div class="col-md-6">
		{% include 'as_right.html '%}
	</div>

</div>

<script>
	$("#chooseassessmethod").typeahead({
	    source: [{% for method in assessmethods %}'{{method}}',{% endfor%}],//数据源
	    items: 8,//最多显示个数
	    updater: function (item) {
	        return item;//这里一定要return，否则选中不显示，外加调用display的时候null reference错误。
	    },
	    displayText: function (item) {
	        return item;//返回字符串
	    },
	    afterSelect: function (item) {
	        //选择项之后的事件 ，item是当前选中的。
	        return item;
	    },
	    delay: 500//延迟时间
	});
</script>
{% include 'footer.html' %}