{% include 'header.html' %}

<div class="container-fluid" ng-controller="assessModelController" >
	<div class="col-md-4">
		<p class="lead"> Model List</p>
		<div>
			{% include 'md_list.html' %}
		</div>
		<p class="lead"> Dataset List </p>
		<div>
			<ul class="nav nav-tabs">
				<li ng-class="{true:'active',false:''}[datatype=='file']">
					<a href="javascript:void(0)" data-toggle="tab" ng-click="setdatatype('file')">LOCAL</a></li>
				<li ng-class="{true:'active',false:''}[datatype=='online']">
					<a href="javascript:void(0)" data-toggle="tab" ng-click="setdatatype('online')">ONLINE</a></li>
			</ul>
		
			<div ng-show="uploadFormShow()">
				<p class="lead"> Dataset List</p>
				{% include 'ds_list.html' %}
			</div>
			<div ng-show="onlineShow()">
				<p class="lead"> Online Dataset List</p>
				{% include 'olds_list.html' %}
			</div>
		</div>
	</div>
	<div class="col-md-8">
	</div>

</div>

<script>

</script>
{% include 'footer.html' %}