
<table class="table table-striped">
<thead>
<tr>
	{% if select %}
		<td> 

		</td>
	{% endif %}
	<td>Name</td><td>Type</td><td>Head</td>
</tr>
</thead>
<tbody>
{% for dataset in datasets %}
	<tr>
		{% if select %}
			<td><input type="checkbox" id="check_{{dataset.id}}"></input></td>
		{% endif %}
		<td><a href="javascript:void(0)" onclick="showDataset({{dataset.id}})">{{dataset.name}}</a></td><td>{{dataset.filetype}}</td><td>{{dataset.head}}</td>
		{% if operation %}
			<td><a href="javascript:void(0)" onclick="deleteDataset({{dataset.id}})">DELETE</a></td>
			<td><a href="javascript:void(0)" onclick="downloadDataset({{dataset.id}})">DOWNLOAD</a></td>
			<td><a href="javascript:void(0)" onclick="trainDataset({{dataset.id}})">TRAIN</a></td>
		{% endif %}
	</tr>
{% endfor%}

</tbody>
</table>
