
<form method='post' enctype="multipart/form-data" autocomplete=off action="{% url 'index' 'dataset_upload' %}" style="width:100%;" name="uploadForm" id="uploadFrom" >
	{% csrf_token %}
	<div class="container-fluid npnm" >
		<div class="col-md-6 npnm" >
			<p><label for="name">Name Your Dataset</label>
				<input type="text" name="name" class="form-control" ng-model="uploadForm.dsname" ng-minlength=1 ng-maxlength=20 required></input>
				<div class="error" ng-show="uploadForm.dsname.$dirty && uploadForm.dsname.$invalid">
					<small class="error text-danger" ng-show="uploadForm.dsname.$error.required"> Name Required </small>
				</div>
			</p>
		</div>
		<div class="col-md-6 npnm" >
			<p><label for="path">Upload Your Dataset File</label>
			<input name="path" type="file" class="form-control" accept=".xls,.csv,.txt">
			</p>
		</div>
	</div>
	<div class="container-fluid npnm" >
		<div class="col-md-4 npnm" >
			<label for="hashead">Dataset Header</label>
			<p><input name="hashead" type="checkbox" ng-model="uploadForm.dshashead">Has Head</input></p>
		</div>
		<div class="col-md-4 npnm" >
			<label for="attr_delim" >Attribute Delimeter</label>
			<input name="attr_delim" type="text" class="form-control" ng-model="uploadForm.dsattr_delim">
		</div>
		<div class="col-md-4 npnm" >
			<label for="record_delim">Record Delimeter</label>
			<input name="record_delim" type="text" class="form-control" ng-model="uploadForm.dsrecord_delim">
		</div>
	</div>
	<div class="container-fluid npnm" >
		<div class="col-md-8 npnm" >
			<label for="head">Specified Types</label>
			<input name="head" type="text" class="form-control" ng-model="uploadForm.dshead"></input>
		</div>
	</div>
	<hr/>
	
	<div class="container-fluid npnm" >
		<div class="col-md-6 npnm" >
			<input type="submit" class="btn btn-success btn-block" value="{% templatetag openvariable %} {true:'Upload Dataset', false:'Modify Dataset'}[uploadactiontype=='new'] {% templatetag closevariable %}">
		</div>
		<div class="col-md-6 npnm" >
			<input type="button" class="btn btn-info btn-block" value="Reset" ng-click="setuploadactiontype('new')">
		</div>
	</div>

	
</form>


