<!doctype html>
<html>
<head>
	<link href="/static/js/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
	<script src="/static/js/jquery.js"></script>
	<script src="/static/js/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/js/angular.min.js"></script>

	<script src="/static/js/angular.js"></script>
	<script src="/static/js/controller.js"></script>
	<link href="/static/css/main.css" rel="stylesheet">
</head>
<body ng-app="mlApp" ng-controller="bodyController" ng-style="bodystyle">
	<title>An Easy Machine Learning Platform</title>
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation" id="navbar" style="padding-right:10px;">
		<div class="navbar-header header text-danger">
			<a class="navbar-brand" href="#">EasyML</a>
		</div>
		<ul class="nav navbar-nav">
			<li class=""><a href="{% url 'index' 'dataset' %}">datasets</a></li>
			<li class=""><a href="{% url 'index' 'model' %}">models</a></li>
			<li class=""><a href="{% url 'index' 'analysis' %}">analysis</a></li>
		</ul>
		<div>
			<form class="navbar-form navbar-left" role="search">
				<div class="form-group">
					<span><input type="text" class="form-control search-query" placeholder="Search"></span>
				</div>
			</form>
		</div>
	</nav>
	<div class="mainbody" id="mainbody" style="padding-left:10px;">