<table class="table table-striped">
<thead>
<tr>
	{% if select %}
		<td> 

		</td>
	{% endif %}
	<td>Name</td><td>Model Type</td>
</tr>
</thead>
<tbody>
{% for model in models %}
	<tr>
		{% if select %}
			<td><input type="checkbox" id="check_{{model.id}}"></input></td>
		{% endif %}
		<td><a href="javascript:void(0)" onclick="showModel({{model.id}})">{{model.name}}</a></td><td>{{model.modeltype}}</td>
		{% if operation %}
			<td><a href="javascript:void(0)" onclick="deleteDataset({{model.id}})">DELETE</a></td>
			<td><a href="javascript:void(0)" onclick="deleteModel({{model.id}})">DOWNLOAD</a></td>
		{% endif %}
	</tr>
{% endfor%}

</tbody>
</table>

<script>

</script>