<table class="table table-striped">
<thead>
<tr>
	{% if md_select %}
		<td> 

		</td>
	{% endif %}
	<td>Name</td><td>Model Type</td>
</tr>
</thead>
<tbody>
{% for model in models %}
	<tr>
		{% if md_select %}
			<td><input type="checkbox" id="modelcheck_{{model.id}}"></input></td>
		{% endif %}
			<td><a href="javascript:void(0)" ng-click="{% if md_show %} showModel({{model.id}}) {% endif %} {% if md_choose %} ;selectedmodel = {{model.id}} {% endif %}" >{{model.name}}</a></td>
			<td>{{model.modeltype}}</td>
		{% if md_operation %}
			{% if md_delete %}
			<td><a href="javascript:void(0)" ng-click="deleteDataset({{model.id}})" class="label label-important">DELETE</a></td>
			{% endif %}
			<td><a href="javascript:void(0)" ng-click="deleteModel({{model.id}})" class="label">DOWNLOAD</a></td>
		{% endif %}
	</tr>
{% endfor%}

</tbody>
</table>

<script>

</script>