<table class="table table-striped">
<thead>
<tr>
	<td>Name</td><td>Type</td><td>Head</td>
</tr>
</thead>
<tbody>
{% for model in models %}
	<tr>
		<td>{{model.name}}</td><td>{{model.modeltype}}</td>
		{% if select %}
			<td>选择</td>
		{% endif %}
		{% if operation %}
			<td><a href="javascript:void(0)" onclick="showDataset({{model.id}})">查看</a></td>
			<td><a href="javascript:void(0)" onclick="deleteDataset({{model.id}})">删除</a></td>
			<td><a href="javascript:void(0)" onclick="downloadDataset({{model.id}})">下载</a></td>
		{% endif %}
	</tr>
{% endfor%}

</tbody>
</table>

<script>
	function showModel(modelindex){
		$("#datasetviewframe").attr("src","/index/md_view?modelindex="+modelindex)
	}
	function downloadModel(modelindex){
		
	}
	function deleteModel(modelindex){

	}
</script>