<form method='post' enctype="multipart/form-data" action="{% url 'index' 'md_new' %}" name="newForm">
	{% csrf_token %}

	<!-- Model -->
	<input name="actiontype" type="hidden" ng-model="actiontype"></input>
	<div class="container-fluid npnm" >
		<div class="col-md-6 npnm" >
			<p><label for="name">Name Your Model</label>
				<input type="text" name="name" class="form-control" ng-model="modelForm.name" ng-minlength=1 ng-maxlength=20 required></input>
				<div class="error" ng-show="newForm.name.$dirty && newForm.name.$invalid">
					<small class="error text-danger" ng-show="newForm.name.$error.required"> Name Required </small>
				</div>
			</p>
		</div>
		<div class="col-md-6 npnm" >
			<p><label for="modeltype">Prototype</label>
			<input id="modeltype" type="text" class="form-control" data-provide="typeahead" name="modeltype" 
				 autocomplete="off" ng-model="modelForm.modeltype" /></p>
		</div>
	</div>
	<hr/>
	<!-- Train -->
	<p><label>Select Dataset</label></p>
		<ul class="nav nav-tabs">
			<li ng-class="{true:'active',false:''}[datatype=='file']">
				<a href="javascript:void(0)" data-toggle="tab" ng-click="setdatatype('file')">LOCAL</a></li>
			<li ng-class="{true:'active',false:''}[datatype=='online']">
				<a href="javascript:void(0)" data-toggle="tab" ng-click="setdatatype('online')">ONLINE</a></li>
		</ul>
	
		<div ng-show="uploadFormShow()">
			<p class="lead"> Dataset List</p>
			{% include 'ds_list.html' %}
		</div>
		<div ng-show="onlineShow()">
			<p class="lead"> Online Dataset List</p>
			{% include 'olds_list.html' %}
		</div>
	<hr/>	
	<div class="container-fluid npnm" >
		<div class="col-md-6 npnm" >
			<input type="submit" class="btn btn-success btn-block" value="{% templatetag openvariable %} {true:'Create New Model', false:'Modify This Model'}[actiontype=='new'] {% templatetag closevariable %}">
		</div>
		<div class="col-md-6 npnm" >
			<input type="button" class="btn btn-info btn-block" value="Reset" ng-click="setactiontype('new')">
		</div>
	</div>
</form>
<script>
$("#modeltype").typeahead({
    source: [{% for type in modeltypes %}'{{type}}',{% endfor%}],//数据源
    items: 8,//最多显示个数
    updater: function (item) {
        return item;//这里一定要return，否则选中不显示，外加调用display的时候null reference错误。
    },
    displayText: function (item) {
        return item;//返回字符串
    },
    afterSelect: function (item) {
        //选择项之后的事件 ，item是当前选中的。
        return item;
    },
    delay: 500//延迟时间
});

</script>


