<form method='post' enctype="multipart/form-data" autocomplete=off action="{% url 'index' 'onlinedataset_upload' %}" style="width:100%;"  id="onlineForm" ng-model="onlineForm">
	{% csrf_token %}
	<div class="container-fluid npnm" >
		<div class="col-md-6 npnm" >
			<p><label for="name">Name Your Online Dataset</label>
				<input type="text" name="name" class="form-control" ng-model="onlineForm.olname" ng-minlength=1 ng-maxlength=20 required >
				<div class="error" ng-show="onlineForm.olname.$dirty && onlineForm.olname.$invalid">
					<small class="error text-danger" ng-show="onlineForm.olname.$error.required"> Name Required </small>
				</div>
			</p>
		</div>
		<div class="col-md-6 npnm" >
			<p><label for="url">URL</label>
				<input name="url" type="text" class="form-control" ng-pattern="/^((http|https)://)?([\w-]+\.)+[\w-:]+(/[\w- ./?%&=_]*)?$/" required ng-model="onlineForm.olurl" >
				<div class="error" ng-show="onlineForm.olurl.$dirty && onlineForm.olurl.$invalid">
					<small class="error text-danger" ng-show="onlineForm.olurl.$error.required"> URL Required </small>
				</div>
			</p>
		</div>
	</div>
	<div class="container-fluid npnm" >
		<div class="col-md-6 npnm" >
			<label for="location">Table Location (CSS Selector)</label>
			<input name="location" type="text" class="form-control" ng-model="onlineForm.ollocation" >
		</div>
		<div class="col-md-6 npnm" >
			<label for="search">Read</label>
			<input name="search" type="text" class="form-control" ng-model="onlineForm.olsearch" >
		</div>
	</div>
	<div class="container-fluid npnm" >
		<div class="col-md-6 npnm" >
			<label for="renewstrategy">Renew Strategy</label>
			<input name="renewstrategy" type="text" class="form-control" ng-model="onlineForm.olrenew" id="olrenew">
		</div>
	</div>
	<div class="container-fluid npnm" >
		<div class="col-md-4 npnm" >
			<label for="hashead">Dataset Header</label>
			<p><input name="hashead" type="checkbox" ng-model="onlineForm.olhashead" >Has Head</input></p>
		</div>
		<div class="col-md-8 npnm" >
			<label for="head">Specified Types</label>
			<input name="head" type="text" class="form-control" ng-model="onlineForm.olhead" ></input>
		</div>
	</div>
	<hr/>
	<input type="hidden" name="oldatasetindex" value="-1"></input>

	<div class="container-fluid npnm" >
		<div class="col-md-6 npnm" >
			<input type="submit" class="btn btn-success btn-block" value="{% templatetag openvariable %} {true:'Create Online Dataset', false:'Modify Online Dataset'}[onlineactiontype=='new'] {% templatetag closevariable %}">
		</div>
		<div class="col-md-6 npnm" >
			<input type="button" class="btn btn-info btn-block" value="Reset" ng-click="setonlineactiontype('new')">
		</div>
	</div>
</form>
<script>
$("#olrenew").typeahead({
    source: [{% for strategy in renewstrategies %}'{{strategy}}',{% endfor%}],//数据源
    items: 8,//最多显示个数
    updater: function (item) {
        return item;//这里一定要return，否则选中不显示，外加调用display的时候null reference错误。
    },
    displayText: function (item) {
        return item;//返回字符串
    },
    afterSelect: function (item) {
        //选择项之后的事件 ，item是当前选中的。
        return item;
    },
    delay: 500//延迟时间
});
</script>