{% include 'header.html' %}

<div class="container-fluid" ng-controller="newModelController" >
	<div class="col-md-4">
		<p class="lead"> Model List</p>
		<div>
			{% include 'md_list.html' %}
		</div>
	</div>
	<div class="col-md-4">
		<p class="lead"> New Model </p>
		<div>
			{% include 'md_new.html' %}
		</div>
	</div>
	<div class="col-md-4">
		<p class="lead"> Task List </p>
		{% include 'md_trainingprocess.html' %}
	</div>
</div>

<script>
	$(function(){
		$("#modelnewframe").attr("src","/index/md_new")
	})

</script>
{% include 'footer.html' %}
<!--
{#
openblock {%
closeblock %}
templatetag openvariable {{
templatetag closevariable }}
openbrace {
closebrace }
opencomment {#
closecomment #}
#}
->