{% include 'header.html' %}

<div class="container-fluid" ng-controller="applyModelController"><div >
	<div class="col-md-6">
		<p class="lead"> Model List</p>
		<div>
			{% include 'md_list.html' %}
		</div>
		<p class="lead"> Dataset List </p>
		<div>
			<div >
				<ul id="mytab" class="nav nav-tabs">
					<li ng-class="{true:'active',false:''}[datatype=='file']">
						<a href="javascript:void(0)" data-toggle="tab" ng-click="setdatatype('file')">LOCAL</a></li>
					<li ng-class="{true:'active',false:''}[datatype=='online']">
						<a href="javascript:void(0)" data-toggle="tab" ng-click="setdatatype('online')">ONLINE</a></li>
				</ul>
			
				<div ng-show="uploadFormShow()">
					{% include 'ds_list.html' %}
				</div>
				<div ng-show="onlineShow()">
					{% include 'olds_list.html' %}
				</div>
			</div>
<!-- 			<div class="container-fluid">
				<div class="col-md-1 npnm"></div>
				<div class="col-md-3 npnm"><label for="from">From</label>
				<p><input name="from" type="text" class="form-control" ng-model="applyForm.from"></input></p></div>
				<div class="col-md-4 npnm"></div>
				<div class="col-md-3 npnm"><label for="to">To</label>
				<p><input name="to" type="text" class="form-control" ng-model="applyForm.to"></input></p></div>
				<div class="col-md-1 npnm"></div>
			</div> -->
		</div>
		<div class="container-fluid npnm">
<!-- 			<div class="col-md-4 npnm">
			<p><input name="from" type="text" class="form-control" placeholder="From" ng-model="applyForm.from" autocomplete=off></input></p></div>
			<div class="col-md-4 npnm">
			<p><input name="to" type="text" class="form-control" placeholder="To" ng-model="applyForm.to" autocomplete=off></input></p></div>
			<div class="col-md-4 npnm">
			<input type="submit" class="btn btn-success btn-block" value="Next"></input></div> -->
			<div class="col-md-4 npnm">
			<p><input name="removeitem" type="text" class="form-control" placeholder="Remove Item" ng-model="applyForm.removeitem" autocomplete=off style="display:none"></input></p></div>
			<div class="col-md-4 npnm"></div>
			<div class="col-md-4 npnm">
			<input type="submit" class="btn btn-success btn-block" value="Predict" ng-click="runapply()"></input></div>
		</div>
	</div>
	<div class="col-md-6">
		<div id='applyframe'>
			<iframe frameborder=0 width="100%" height="300%"  scrolling="auto" id="datasetviewframe"  ng-show="currentshow='ds'"></iframe>
			<img width="100%" height="300%" id="modelimage" ng-show="currentshow='md'"></img>
		</div>
	</div>
</div></div>

<script>

</script>
{% include 'footer.html' %}
