<body ng-controller="bodyController"  >
	<table class="table table-striped">
	<thead>
	<tr>
		{% for col in dataset.head %}
			<td>{{ col }}</td>
		{% endfor %}
	</tr>
	</thead>
	<tbody>
		{% for item in dataset.items %}
		<tr>
			{% for col in item %}
				<td> {{ col }} </td>
			{% endfor%}
		</tr>
		{% endfor %}
	</tbody>
	</table>
<script>
	document.getElementsByTagName('head')[0].innerHTML = window.parent.document.getElementsByTagName('head')[0].innerHTML
	var iframe = window.parent.document.getElementById("datasetviewframe");
	try{
		iframe.height =  iframe.contentWindow.document.documentElement.scrollHeight;
	}catch (ex){}
</script>
</body>