<form method='post' enctype="multipart/form-data" action="{% url 'index' 'md_new' %}" name="newForm">
	{% csrf_token %}

	<!-- Model -->
	<input name="actiontype" type="hidden" ng-model="actiontype"></input>
	<div class="container-fluid npnm" >
		<div class="col-md-6 npnm" >
			<p><label for="name">Name Your Model</label>
				<input type="text" name="name" class="form-control" ng-model="modelForm.name" ng-minlength=1 ng-maxlength=20 required></input>
				<div class="error" ng-show="newForm.name.$dirty && newForm.name.$invalid">
					<small class="error text-danger" ng-show="newForm.name.$error.required"> Name Required </small>
				</div>
			</p>
		</div>
		<div class="col-md-6 npnm" >
			<p><label for="modeltype">Prototype</label>
			<input id="modeltype" type="text" class="form-control" data-provide="typeahead" name="modeltype" 
				 autocomplete="off" ng-model="modelForm.modeltype" /></p>
		</div>
	</div>
	<div class="container-fluid npnm" >
<!-- 		<div class="col-md-6 npnm" >
			<p><label for="name">Class Feature</label>
				<input type="text" name="classfeatureindex" class="form-control" ng-model="modelForm.classfeatureindex"></input>
			</p>
		</div> -->
		<div class="col-md-4 npnm" >
			<p><label for="name">Loss</label>
				<input type="text" name="loss" class="form-control" ng-model="modelForm.loss" placeholder='QUAD'></input>
			</p>
		</div>
		<div class="col-md-4 npnm" >
			<p><label for="name">Positive</label>
				<input type="text" name="positive" class="form-control" ng-model="modelForm.positive" placeholder='true,Yes,1'></input>
			</p>
		</div>
		<div class="col-md-4 npnm" >
			<p><label for="name">Negative</label>
				<input type="text" name="negative" class="form-control" ng-model="modelForm.negative" placeholder='false,No,-1'></input>
			</p>
		</div>
	</div>
<!-- 	<div class="container-fluid npnm" >

	</div> -->
	<hr/>
	<!-- Train -->
	<p><label>Select Dataset</label></p>
	<div>
		<ul class="nav nav-tabs">
			<li ng-class="{true:'active',false:''}[datatype=='file']">
				<a href="javascript:void(0)" data-toggle="tab" ng-click="setdatatype('file')">LOCAL</a></li>
			<li ng-class="{true:'active',false:''}[datatype=='online']">
				<a href="javascript:void(0)" data-toggle="tab" ng-click="setdatatype('online')">ONLINE</a></li>
		</ul>
	
		<div ng-show="uploadFormShow()">
			{% include 'ds_list.html' %}
		</div>
		<div ng-show="onlineShow()">
			{% include 'olds_list.html' %}
		</div>
	</div>
	<hr/>
	<input type="text" name="oldatasetindex" ng-model='selectedoldataset' style="display:none"></input>
	<input type="text" name="datasetindex" ng-model='selecteddataset' style="display:none"></input>
	<input type="text" name="selectwhichdatasettype" ng-model='selectwhichdatasettype' style="display:none"></input>
	<input type="text" name="modelindex" ng-model="selectedmodel" style="display:none"></input>
	<select class="form-control" ng-model="modelForm.classfeatureindex" name="classfeatureindex"
		ng-options="item for item in gethead()">
		
	</select> 
	<hr/>
	<div class="container-fluid npnm" >
		<div class="col-md-6 npnm" >
			<input type="submit" class="btn btn-success btn-block" value="{% templatetag openvariable %} {true:'Create New Model', false:'Modify This Model'}[actiontype=='new'] {% templatetag closevariable %}">
		</div>
		<div class="col-md-6 npnm" >
			<input type="button" class="btn btn-info btn-block" value="Reset" ng-click="setactiontype('new')">
		</div>
	</div>
</form>
<script>
$("#modeltype").typeahead({
    source: [{% for type in modeltypes %}'{{type}}',{% endfor%}],//数据源
    items: 8,//最多显示个数
    updater: function (item) {
        return item;//这里一定要return，否则选中不显示，外加调用display的时候null reference错误。
    },
    displayText: function (item) {
        return item;//返回字符串
    },
    afterSelect: function (item) {
        //选择项之后的事件 ，item是当前选中的。
        return item;
    },
    delay: 500//延迟时间
});

</script>


