<table class="table table-striped table-condensed">
<thead>
<tr>
	{% if select %}
		<td> 

		</td>
	{% endif %}
	<td>Task ID</td><td>Model Type</td><td>Model ID</td><td>Create Time</td><td>Status</td>
</tr>
</thead>
<tbody>
{% for task in tasks %}
	<tr>
		{% if select %}
			<td><input type="checkbox" id="taskcheck_{{task.id}}"></input></td>
		{% endif %}
			<td><a href="javascript:void(0)" ng-click="showModel({{model.id}})" >{{task.id}}</a></td>
			<td>{{task.modelprototype}}</td>
			<td>{{task.modelindex}}</td>
			<td>{{task.createtime}}</td>
			<td>{{task.status}}</td>
		{% if operation %}
			<td><a href="javascript:void(0)" ng-click="startTrain({{model.id}})" class="label label-important">START</a></td>
			<td><a href="javascript:void(0)" ng-click="pauseTrain({{model.id}})" class="label label-important">PAUSE</a></td>
			<td><a href="javascript:void(0)" ng-click="abortTrain({{task.id}})" class="label label-important">ABORT</a></td>
		{% endif %}
	</tr>
{% endfor%}

</tbody>
</table>

<script>

</script>