<table class="table table-striped table-condensed" style="width:100%">
<thead>
<tr>
	{% if ds_select %}
		<td> 

		</td>
	{% endif %}
	<td>Name</td><td>URL</td><td>Location</td><td>User</td><td>Meta</td>
	{% if operation != 'apply' and operation != 'models' %} <td>Renew</td> {% endif %}
</tr>
</thead>
<tbody>
{% for dataset in oldatasets %}
	<tr ng-class="{true:'success',false:''}[{{dataset.id}}==selectedoldataset]">
		{% if ds_select %}
			<td><input type="checkbox" id="oldscheck_{{dataset.id}}"></input></td>
		{% endif %}
			<td><a href="javascript:void(0)" ng-click="{% if ds_show %} showOLDataset({{dataset.id}}) {% endif %} 
				{% if ds_choose %} ;selectedoldataset = {true:-1,false:{{dataset.id}}}[selectedoldataset=={{dataset.id}}];selectwhichdatasettype = 'ol' {% endif %}
				;onoldatasetselected({{dataset.id}})
				">{{dataset.name}}</a></td>
			<td><a href="{{dataset.url}}"><small>{{dataset.url}}</small></a></td>			
			<td><small>{{dataset.location}}</small></td>
			<td><small>{{dataset.user}}</small></td>
			<td><small>{{dataset.metatype}}</small></td>
			{% if operation != 'apply' and operation != 'models' %}<td><small>{{dataset.renewstrategy}}</small></td>{% endif %}
		{% if ds_operation %}
			{% if ds_delete %}
			<td><a href="javascript:void(0)" ng-click="deleteOLDataset({{dataset.id}})" class="label label-important">DELETE</a></td>
			{% endif %}
			<td><a href="javascript:void(0)" ng-click="dumpOLDataset({{dataset.id}})" class="label">LOCALIZE</a></td>
			<!-- <td><a href="javascript:void(0)" ng-click="trainOLDataset({{dataset.id}})" class="label">TRAIN</a></td> -->
		{% endif %}
	</tr>
{% endfor%}
	
</tbody>
</table>
